.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 1em;
  color: #444242;
  width: 500px;
  text-align: center;
}

.image {
  width: 250px;
  height: 250px 
}

.description, .descriptionNumber {
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 1em;
  color: #000;
  text-align: center;
}

.description span {
  color: #2D9BF0;
}

.button {
  margin: 0 1em;
  padding: 1em;
  border: 1px solid #2D9BF0;
  background-color: #2D9BF0;
  color: #fff;
  transition: 0.3s;
  align-self: center;
}

.button:hover {
  opacity: 0.8;
}

.buttonLast {
  margin-bottom: 1em;
}

.buttonContent {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.contentResult {
  margin-top: 2em;
}

@media (max-width: 600px)
{
  .title 
   {
    font-size: 1em;
    width: 220px;
   }
   .description {
    font-size: 1em;
   }
}

@media print {
  .title, .button, .description, .buttonContent, .description{ 
    display: none;
  }
}