.title {
  text-align: center;
  font-size: 3em;
  font-weight: normal;
  color: rgb(61, 75, 20);
  margin: 1em 0;
}

.orderContent {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.warningContent {
  border: 1px solid rgb(177, 167, 150);
  background-color: rgb(238,234,225);
  padding: .5em 2em;
  width: 850px;
}

.warning {
  font-size: 1.3em;
  text-align: center;
  color: rgb(60, 60, 60);
}

.mark {
  background-color: rgb(225, 239, 215);
	color: rgb(52, 119, 11);
  border: 1px solid rgb(197, 226, 175);
  font-weight: bold;
}