.container {
  width: 100vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.mainTitle {
  margin: .5em 0;
  font-size: 1.5em;
  font-weight: 500;
  color: #2D9BF0;
}

.label {
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: .5em;
  color: #444242;
  width: 400px;
  text-align: center;
}

.image {
  width: 250px;
  height: 250px 
}

.input {
  margin-bottom: 1em;
}

.button {
  margin: 0 1em;
  padding: .8em;
  border: 1px solid #2D9BF0;
  background-color: #2D9BF0;
  color: #fff;
  transition: 0.3s;
  align-self: center;
}

.button:hover {
  opacity: 0.8;
}

.qrcodeReaderButton {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  margin-top: 1em;
}

.qrcodeReaderButton span {
  padding-left: 1em;
}